@charset "UTF-8";

body{
    color: #333;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'NanumSquareRoundLight', 'NanumSquareRound', 'NanumSquareRoundBold', 'NanumSquareRoundExtraBold';
    cursor: url(../img/star2.svg), auto;
}
.hidden{
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px; overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}
#fullpage .section{
    width: 100%;
    height: 100%;
}
#fp-nav{
    top: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
}
#fp-nav ul{
    display:flex;
    width: 50rem; height: 2.5rem;
    justify-content: center;
}
#fp-nav ul li{
    width: auto;
    position: relative;
}
#fp-nav ul li a{
    padding: 1rem 4rem;
}
#fp-nav ul li a span{
    display:none;
}
#fp-nav ul li::after{
    content:'';
    width: 1rem; height: 1rem;
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translateY(-50%);
    margin-right: -1rem;
    background: url(../img/ico_slash.png) no-repeat;
    background-size: contain;
}
#fp-nav ul li:last-child::after{
    display:none;
}
#fp-nav ul li:nth-child(1) a{
    width: 4rem; 
    background: url(../img/homeOff.svg) no-repeat center top;
    background-size: 4rem 0.8125rem;
}
#fp-nav ul li:nth-child(1) a.active{
    background: url(../img/homeOn.svg) no-repeat center top;
    background-size: 4rem 0.8125rem;
}
#fp-nav ul li:nth-child(2) a{
    width: 7rem;
    background: url(../img/aboutOff.svg) no-repeat center top;
    background-size: 7rem 0.8125rem;
}
#fp-nav ul li:nth-child(2) a.active{
    background: url(../img/aboutOn.svg) no-repeat center top;
    background-size: 7rem 0.8125rem;
}
#fp-nav ul li:nth-child(3) a{
    width: 7.9375rem;
    background: url(../img/portfolioOff.svg) no-repeat center top;
    background-size: 7.9375rem 0.8125rem;
}
#fp-nav ul li:nth-child(3) a.active{
    background: url(../img/portfolioOn.svg) no-repeat center top;
    background-size: 7.9375rem 0.8125rem;
}
#fp-nav ul li:nth-child(4) a{
    width: 6.375rem;
    background: url(../img/contactOff.svg) no-repeat center top;
    background-size: 6.375rem 0.8125rem;
}
#fp-nav ul li:nth-child(4) a.active{
    background: url(../img/contactOn.svg) no-repeat center top;
    background-size: 6.375rem 0.8125rem;
}

/* -------홈--------------------------------------- */
.home .homeInner{
    max-width: 81.25rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.homeInner .fixtxt{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: #826baf;
    z-index: 999;
    margin: -20rem 0 0 0;
}
.home .homeInner h1{
    width: 50rem;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
}
.home .homeInner h1 img{
    width: 50rem;
    transition: all 0.5s ease;
}
.homeInner h1:hover img{
    transform: scale(1.1);
}
.homeInner .scrDown{
    animation: scr 1s ease infinite alternate;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10%;
}
@keyframes scr{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(50%);
    }
}
.homeInner .scrDown span{
    color: #826baf;
    font-size: 20px;
    display: block;
}
.home .homeInner .scrDown img{
    width: 7.5rem;
}
/* -------------어바웃미-------------------- */
.about .aboutInner{
    max-width: 81.23rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .aboutInner .leftSec{
    width: 40.625rem;
    padding-left: 1.875rem;
}
.about .aboutInner .leftSec .profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
}
.about .aboutInner .leftSec .profile h3{
    width: 10rem;
    height: 10rem;
    background: url(../img/logo1.svg) no-repeat;
    background-size: contain;
    text-indent: -99999px;
}
.aboutInner .leftSec .profile p{
    font-size: 1.3rem;
    width: 24rem;
    line-height: 2rem;
}
.aboutInner .leftSec .skills h2{
    margin-bottom: 3.125rem;
    /* margin-left: -1.625rem; */
    /* width: 6.68rem; height: 2.5rem;
    background: url(../img/ico_slash.png) no-repeat left 5px; */
}
/* .aboutInner .leftSec .skills h2 img{
    margin-left: 1.625rem;   
} */
.about .leftSec h2 img{
    height: 2rem;
}
.about .rightSec h2 img{
    height: 2rem;
}
.aboutInner .leftSec .skills>.bar{
    width: 34.375rem; height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.aboutInner .leftSec .skills>.bar p{
    font-size: 1rem;
    font-weight: 'NanumSquareRoundLight';
}
.aboutInner .leftSec .skills>.bar>.outline{
    width: 21.875rem; height: 1.25rem;
    border: 1px solid #826baf;
    border-radius: 10px;
}
.aboutInner .leftSec .skills>.bar>.outline>.level{
    height: 0.875rem;
    background: #826baf;
    border-radius: 10px;
    margin: 0.1875rem;
    
    /* animation-play-state: paused; */
}
.skills>.bar>.outline>.level.ani{
    animation: ani 0.8s ease;
    animation-fill-mode: backwards;
}
/* .about:hover .aboutInner .leftSec .skills>.bar>.outline>.level{
    animation-play-state: running;
} */

.about .s2 .outline .level.ani{
    animation-delay: 0.3s;
}
.about .s3 .outline .level.ani{
    animation-delay: 0.6s;
}
.about .s4 .outline .level.ani{
    animation-delay: 0.9s;
}
.about .s5 .outline .level.ani{
    animation-delay: 1.2s;
}
.about .s6 .outline .level.ani{
    animation-delay: 1.5s;
}
.about .s7 .outline .level.ani{
    animation-delay: 1.8s;
}
.about .s8 .outline .level.ani{
    animation-delay: 2.1s;
}
.about .s9 .outline .level.ani{
    animation-delay: 2.4s;
}
@keyframes ani{
    0%{
        width: 0;
    }
}
.aboutInner .rightSec{
    width: 31.25rem;
}
.aboutInner .rightSec div{
    width: 100%;
    margin-bottom: 2rem;
}
.aboutInner .rightSec div h2{
    margin-bottom: 2rem;
}
.aboutInner .rightSec .adv h2{
    display: flex;
    align-items: center;
}
.aboutInner .rightSec div p{
    font-size: 1.125rem;
    margin: 1.5rem 0;
}

.aboutInner .adv>span{
    float: left;
}
.aboutInner .adv>span>a>span{
    display: block;
    text-align: center;
}
.aboutInner .rightSec div>span{
    display: inline-block;
}
.aboutInner .rightSec div>span a{
    margin-right: 1rem;
    transition: all 0.5s ease;
}
.aboutInner .rightSec div>span:hover a{
    transform: scale(1.1);
}
.adv .bttn img{
    height: 8rem;
}
/* about 상세페이지 1 */
.ab1{
    position: absolute;
    width: 100%; height: 100%;
    top: 0;left: 0;
    z-index: 999;
    background: url(../img/ab_bg1p.png) no-repeat;
    background-size: cover;
}
.ab1 .ab1Inner{
    width: 81.25rem;
    margin: 2rem auto 0;
}
.ab1 .ab1Inner button{
    width: 3.125em;
    height: 3.125rem;
    background: url(../img/about_back.png)no-repeat center center;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
    background-size: 3rem 3rem;
    padding: 3rem;
}
.ab1 .ab1Inner .parFir{
    display: flex;
    justify-content: space-between;
}
.ab1 .ab1Inner .parFir .pic img{
    width: 20rem;
}
.ab1 .ab1Inner .parFir .txt{
    width: 57rem;
    padding-top: 1rem;
}
.ab1 .ab1Inner .parFir .txt p{
    font-size: 1.25rem;
    line-height: 3rem;
    margin-top: 1rem;
    text-align: right;
}
.ab1 .ab1Inner .parSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ab1 .ab1Inner .parSec .txt{
    width: 44.75rem;
}
.ab1 .ab1Inner .parSec .txt p{
    font-size: 1.25rem;
    line-height: 3rem;
}
.ab1 .ab1Inner .parSec .pic img{
    width: 30rem;
}
/* 2 */
.ab2{
    position: absolute;
    top: 0;left: 0;
    width: 100%; height: 100%;
    background: #fff;
    z-index: 999;
}
.ab2 .ab2Inner{
    margin: 0 auto;
    width: 81.25rem;
    padding-top: 3rem;
}
.ab2 .ab2Inner button{
    width: 3.125em;
    height: 3.125rem;
    background: url(../img/about_back.png)no-repeat center center;
    background-size: contain;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
    background-size: 3rem 3rem;
    padding: 3rem;
}
.ab2 .ab2Inner .parFir{
    margin-bottom: 3rem;
}
.ab2 .ab2Inner .parFir p{
    font-size: 1.25rem;
    line-height: 3rem;
}
.ab2 .ab2Inner .draw{
    position: relative;
}
.ab2 .ab2Inner .draw span{
    position: absolute;
    top: 0;
    left: 1rem;
}
.ab2 .ab2Inner .draw span a{
    line-height: 12.5rem;
    width: 12.5rem;
    position: relative;
}
.ab2 .ab2Inner .draw span a::after{
    content: '';
    position:absolute;
    top: 6.8rem; left: 7rem;
    width: 3rem; height: 3rem;
    background: url(../img/tap.png) no-repeat;
    background-size: contain;
    animation: click 1s ease infinite;
}
@keyframes click{
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.ab2 .ab2Inner .draw span a img{
    width: 1.4rem;
    margin: 5.5rem 1rem 0 0;
}
.ab2 .ab2Inner .draw div img{
    width: 12.5rem;
}
.ab2 .ab2Inner .draw .drawUp{
    margin: 0 0 0 12.5rem;
    display: flex;
    justify-content: space-between;
    width: 62.5rem;
}
.ab2 .ab2Inner .draw .drawDo{
    margin: 0 12.5rem 0 0;
    display: flex;
    justify-content: space-between;
    width: 62.5rem;
}
.ab2 .ab2Inner .parSec{
    margin-top: 3rem;
}
.ab2 .ab2Inner .parSec p{
    font-size: 1.25rem;
    line-height: 3rem;
}
/* 3 */
.ab3{
    position: absolute;
    top: 0; left: 0;
    z-index: 999;
    width: 100%; height: 100%;
    background: url(../img/ab_bg3p.png) no-repeat center bottom;
    background-size: cover;
}
.ab3 .ab3Inner{
    width: 81.25rem;
    margin: 0 auto;
    padding-top: 10rem;
}
.ab3 .ab3Inner .back{
    width: 3.125em;
    height: 3.125rem;
    background: url(../img/about_back.png)no-repeat center center;
    background-size: contain;
    border: none;
    margin-bottom: 3rem;
    cursor: pointer;
    background-size: 3rem 3rem;
    padding: 3rem;
}
.ab3 .ab3Inner .txt{
    width: 61.5rem;
}
.ab3 .ab3Inner .txt p{
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #fff;
}
/* 포트폴리오영역 */
.portfolio{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.portfolio h2{
    position: absolute;
    top: 11rem; left: 19.375rem;
    display: flex;
    justify-content: space-between;
}
.portfolio h2 img{
    height: 3.5rem;
}
.portfolio .adv .bttn img{
    height: 2.5rem;
}
.portfolio .btnSlide{
    position: absolute;
    left: 50%; top: 60px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/menuBubble.png) no-repeat;
    width: 28.5rem; height: 3.625rem;
}
.portfolio .btnSlide li{
    height: 100%;
}
.portfolio .btnSlide li a{
    font-weight: bolder;
    padding: 0 1.7rem;
    line-height: 3.625rem;
    text-align: center;
}
.portfolio .btnSlide li:hover a{
    color: #826baf;
}
.portfolio .btnSlide li.on a{
    color: #826baf;
}
.slick{
    width: 81.25rem;
    margin: 0 auto;
}
.slick-cloned{
    display: none;
}
.slick .slick-slide{
    width: 81.25rem;
}
.slick-slide>div>.wrap{
    display:flex;
    justify-content: space-between;
    width: 81.25rem;
}
.slick-slide>div>.wrap>div{
    width: 50%;
}
.slick-slide>div>.wrap>.leftSec{
    padding: 10rem 0 0 10rem;
    box-sizing: border-box;
}
.slick-slide>div>.wrap>.leftSec>h3>img{
    width: 13rem;
}
.slick-slide>div>.wrap>.leftSec a{
    margin: 5rem 0 3rem 0;
    width: 9.375rem;
    height: 3.125rem;
    background:#826baf;
    line-height: 3.125rem;
    text-align: center;
    border-radius: 5rem;
    color: #fff;
    font-weight: bolder;
}
.slick-slide>div>.wrap>.leftSec ul{
    width: 18.75rem;
}
.slick-slide>div>.wrap>.leftSec ul li{
    padding: 1rem 0;
    list-style:disc;
}
.web .slick-slide>div>.wrap>.rightSec>img{
    width: 44.5rem;
}
.mobile .slick-slide>div>.wrap>.rightSec>img{
    width: 20rem;
    margin-left: 10rem;
}
.responsible .slick-slide>div>.wrap>.rightSec>img{
    margin-left: -13rem;
}
.design .designDiv{
    display: flex;
    justify-content: space-between;
    width: 80rem;
    height: 100%;
    position: relative;
}
.design .slick-slide .page1 .oren{
    position: relative;
    right: -20rem;
    width: 53rem; height: 38rem;
    overflow: visible;
}
.design .slick-slide .page1 .oren span{display:block;}
.design .slick-slide .page1 .oren>div{
    width: 19.2rem; height: 12rem;
    position: absolute;
}
.design .slick-slide .page1 .oren>.ban1{
    background: url(../img/minibanner1.jpg) no-repeat;
    background-size: contain;
    top: 0; right: 10%;
}
.design .slick-slide .page1 .oren>.ban2{
    background: url(../img/minibanner2.jpg) no-repeat;
    background-size: contain;
    top: 13rem; right: 15%;
}
.design .slick-slide .page1 .oren>.ban3{
    background: url(../img/minibanner3.jpg) no-repeat;
    background-size: contain;
    top: 26rem; right: 8%;
}
.design{
    position: relative;
}
.design h3{
    font-size: 1.3rem;
    position: absolute;
    top: 30rem; left: 15rem;
    font-weight: bold;
}
.design .page3 h3{
    left: 8rem;
}
.design .slick-slide .page2 .orren{
    position: absolute;   
    width: 100%; height: 100%;
}
.design .slick-slide .page2 .orren a{
    position: absolute;
    top: 0; right: 15rem;
    width: 18.905rem; height: 38em;
    background: url(../img/landing.png) no-repeat;
    background-size: contain;
}
.design .slick-slide .page3{
    display: flex;
    justify-content: space-between;
    width: 80rem;
    height: 100%;
    position: relative;
}

.design .slick-slide .page3 .orrren{
    position: absolute;
    top: 0; 
    right: 0;
    width: 58rem; height: 37.5rem;
}
.design .slick-slide .page3 .orrren .sian1{
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 40%;
}
.design .slick-slide .page3 .orrren .sian1 a{
    width: 16rem; height: 32.1rem;
    background: url(../img/mockup_todayhouse.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.design .slick-slide .page3 .orrren .sian1 p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.design .slick-slide .page3 .orrren .sian2{
    position: absolute;
    top: 50%; right: 5rem;
    transform: translateY(-50%);
    width: 60%;
}
.sian2 p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}
.design .slick-slide .page3 .orrren .sian2 .osulloc{
    width: 48.421875rem;
    height: 28.8282rem;
    background: url(../img/mockup_osullok.png) no-repeat;
    background-size: contain;
    display:flex;
    align-items: center;
}
.design .slick-slide .page3 .orrren .sian2 .mO{
    width: 13.78845rem;
    height: 28.8282rem;
}
.design .slick-slide .page3 .orrren .sian2 .pO{
    width: 35.71875rem;
    height: 28.8282rem;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    border: none;
    text-indent: -99999px;
    width: 3.125rem;height: 6.25rem;
    cursor: pointer;
    z-index: 999;
}
.slick-prev{
    left: -1rem;
    background: url(../img/ico_prev.png) no-repeat;
    background-size: contain;
}
.slick-next{
    right: -1rem;
    background: url(../img/ico_next.png) no-repeat;
    background-size: contain;
}

/* ------컨택트 영역---------------------------- */

.contact h2{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    margin: -18rem 0 0 -35rem;
}
.contact h2 img{
    width: 18rem;
}
.contact .contactInner{
    width: 81.25rem;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contactInner .left{
    width: 50%;
}
.contactInner .left .add{
    margin-bottom: 6rem;
}
.contactInner .left .add li{
    font-size: 1.5rem;
    width: 22rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.contactInner .left .add li img{
    margin-right: 2rem;
    width: 3rem;
}
.contactInner .left h3{
    font-size: 1.5rem;
}
.contactInner .left p{
    margin: 20rem 0 0 0;
    font-size: 1.1rem;
}
.contactInner .right{
    width: 50%;
    box-sizing: border-box;
}
.contactInner .right .me{
    width: 35rem;
    height: 35rem;
    background: #fff;
    border-radius: 10rem;
    margin: 0 auto;
    overflow: hidden;
}
.contactInner .right .me img{
    width: 35rem;
    height: 35rem;
}
.contactInner .right .color{
    margin-top: 4rem;
    margin-left:35rem; 
}
.contactInner .right .color li{
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    width: 10rem;
}
.contactInner .right .color li:nth-child(1){
    color: #826baf;
}
.contactInner .right .color li:nth-child(2){
    color: #ffdc70;
}
.contactInner .right .color li:nth-child(3){
    color: #333;
}

.contactInner .right .color li span{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display:inline-block;
    margin-right: 1rem;
}
.contactInner .right .color li:nth-child(1) span{
    background: #826baf;
}
.contactInner .right .color li:nth-child(2) span{
    background: #ffdc70;
}
.contactInner .right .color li:nth-child(3) span{
    background: #333;
}
#goTop{
    position: absolute;
    bottom: 3rem; right: 3rem;
}
#goTop a{
    width: 30px;height: 30px;
}
#goTop a img{
    width: 100%; height: 100%;
}
/* 미디어쿼리 */
@media (min-width:1200px) and (max-width:1440px){
    html{font-size: 12px;}
}
@media all and (max-width:1199px){
    html{font-size: 10px;}
}
