
@charset "utf-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
}
.hidden{
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}
.modal_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 10;
    display:none;
}
.modal_wrap .cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.modal_wrap .modal_content{
    width: 1280px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.modal_content .tit{
    color: #fff;
}
.tit h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tit p{
    font-weight: 200;
    margin-bottom: 10px;
}
.modal_wrap .modal_content .btn_list{
    position: absolute;
    right: 0; top: 0;
}
.modal_wrap .modal_content .btn_list li{
    float: left;
    margin-left: 50px;
}

.modal_wrap .modal_content .btn_list li button{
    width: 11px;
    height: 15px;
    border: none;
    cursor: pointer;
}
.modal_wrap .modal_content .btn_list li .prev{
    background: url(../images/btn_main_youtube_l.png) no-repeat;
}
.modal_wrap .modal_content .btn_list li .next{
    background: url(../images/btn_main_youtube_r.png) no-repeat;
}
.modal_wrap .modal_content .btn_list li .close{
    width: 14px; height: 14px;
    background: url(../images/btn_main_youtube_close.png) no-repeat;
}


.allmenu_wrap{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99;
}
.allmenu_wrap .allmenu{
    width: 1150px;
    height: 720px;
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.allmenu_wrap .allmenu .alldepth1{
    width: 100%;
}
.allmenu_wrap .allmenu .alldepth1>li{
    float: left;
    width: calc(100%/7);
}
.allmenu_wrap .allmenu .alldepth1>li>a{
    display: block;
    font-size: 25px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 20px;
}
.allmenu_wrap .allmenu .btn_allx{
    width: 20px; height: 20px;
    background: url(../images/btn_sitemap_close.png) no-repeat;
    border: none;
    position: absolute;
    right: 0; top: 5px;
    cursor: pointer;
}
/* 전체메뉴-2단메뉴 */
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li{
    margin-bottom: 20px;
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>a{
    display: block;
    color: #fff;
    font-size: 16px;
    text-indent: 16px;
    background: url(../images/bul01.gif) no-repeat left center;
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>a:hover{
    color: #75bfc7;
    text-decoration: underline;
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>.alldepth3{
    margin-top: 15px;
    border-left: 1px solid rgba(255,255,255,0.5);
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>.alldepth3>li{
    margin-bottom: 9px;
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>.alldepth3>li>a{
    display: block;
    font-size: 13px;
    text-indent: 10px;
    color: #ccc;
    font-weight: 200;
}
.allmenu_wrap .allmenu .alldepth1 .alldepth2>li>.alldepth3>li>a:hover{
    color: #75bfc7;
    text-decoration: underline;
}
/* 전체메뉴 안 슬라이더 */
.slickwrap{
    position: absolute;
    bottom: 0; left: 0;
    width: 428px;
    height: 243px;
}

.allmenu .slickwrap .slick-dots{
    position: absolute;
    top: -26px; left: 0;

}
.allmenu .slickwrap .slick-dots>li{
    float: left;
}
.allmenu .slickwrap .slick-dots>li>button{
    width: 11px; height: 11px;
    background: url(../images/ico_dot03.png) no-repeat;
    border: none;

    margin-right: 6px;
}
.allmenu .slickwrap .slick-dots>li.slick-active>button{
    background: url(../images/ico_dot03_on.png) no-repeat;
}

.allmenu .slickwrap .pause{
    position: absolute;
    top: -28px; left: 55px;
    width: 20px; height: 20px;
    background: url(../images/ico_stop.png) no-repeat;
    background-size: contain;
    border: none;
    text-indent: -99999px;
    cursor:pointer;
}
.allmenu .slickwrap .play{
    display: none;
    position: absolute;
    top: -28px; left: 55px;
    width: 20px; height: 20px;
    background: url(../images/ico_play.png) no-repeat;
    background-size: contain;
    border: none;
    text-indent: -99999px;
    cursor:pointer;
}
header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #d0d0d0;
    background: url(../images/bg_line05.png) repeat-x left bottom;
}
header .header_inner{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고부분 */
header .header_inner h1{
    /* margin-top: 11px; */
    margin-right: 50px;       
}
/* 주메뉴 */
header .header_inner .gnb{
    /* float: left; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .header_inner .gnb>li{
    /* float: left; */
    padding-right: 64px;
    position: relative;
}
header .header_inner .gnb>li::before{
    content:"";
    width: 3px; height: 16px;
    background: #2b6ab9;
    position: absolute;
    left: -15px; top: 50%;
    margin-top: -8px;
    display: none;
}
header .header_inner .gnb>li:hover::before{
    display: block;
}
header .header_inner .gnb>li:hover>a{
    color: #2b6ab9;
}
header .header_inner .gnb>li:last-child{
    margin-right: 55px;
}
header .header_inner .gnb>li>a{
    display: block;
    color:#555;
    font-weight: bold;
    line-height: 70px;
}
/* 2단메뉴 */
header .header_inner .gnb>li>.depth2{
    display: none;
    position: absolute;
    top: 70px; left: -15px;
    overflow: hidden;
    z-index: 99;
    width: 120px;
    height: 250px;
    padding: 20px 0 0 15px;
    border-left: 1px solid #f1f1f1;
    background: #fff;
    box-sizing: border-box;
}

header .header_inner .gnb>li>.depth2>li{
    line-height: 32px;
}
header .header_inner .gnb>li>.depth2>li>a{
    display: inline-block;
    font-size: 14px;
    color: #727272;
}
header .header_inner .gnb>li>.depth2>li:hover>a{
    color: #002c5d;
}
.header_inner .gnb_bg{
    display: none;
    position: absolute;
    overflow: hidden;
    top: 70px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 270px;
    border-bottom: 1px solid #002c5d;
    background: #fff;
}
/* 유틸리티 */
header .header_inner .util{
    /* margin-top: 28px; */
    /* float:right; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header .header_inner .util>li{
    /* float:left; */
    margin-left: 23px;
    position: relative;
}
header .header_inner .util>li:first-child{
    margin-left: 0;
}
header .header_inner .util>li:nth-child(2) img{
    padding-bottom: 1px;
}

header .header_inner .util .search_form{
    position: absolute;
    top: 36px;left: -330px;
    width: 400px;
    height: 58px;
    background: url(../images/bg_searchbox.png) no-repeat;
    padding: 7px 20px;
    box-sizing: border-box;
    display: none;
    z-index: 999;
}
header .header_inner .util .search_form input{
    width: 290px;
    height: 30px;
    margin-top: 10px;
    border: none;
    /* vertical-align: baseline; */
}
header .header_inner .util .search_form .btn_search{
    display: block;
    float: right;
    width: 51px;
    height: 10px;
    background: url(../images/btn_search.png) no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
header .header_inner .util .search_form fieldset{
    border: none;
}
header .header_inner .util .search_form legend{
    position: absolute;
    left: -9999px;
}
/* 여기서부터 메인영역 */
#mainSlide{
    width: 100%;
    height: 920px;
    position: relative;
}

main #mainSlider1{
    width: 100%;
    position: relative;
    left: 50%; top: 0;
    transform: translateX(-50%);
}
main #mainSlider1 .visual{
    width: 100%;
    height: 920px;
}
main .visual .visual1{
    height: 920px;
    background: url(../images/main_01_01.jpg)no-repeat center;
}
main .visual .visual2{
    height: 920px;
    background: url(../images/main_01_02.jpg)no-repeat center;
}
main .visual .visual3{
    height: 920px;
    background: url(../images/main_01_03.jpg)no-repeat center;
}
#mainSlider1 .main_inner{
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 200;
}
#mainSlider1 .sliderBtn{
    position: absolute;
    top: 0; right: 0;
}
#mainSlider1 .sliderBtn>li{
    padding: 20px 0;
    position: relative;
}

#mainSlider1 .sliderBtn>li:first-child{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#mainSlider1 .main_inner h2{
    padding-top: 160px;
}
#mainSlider1 .main_inner h2 img{
    margin: 0 auto;
}
#mainSlider1 .main_inner .txt1{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding:20px 0 32px 0;  
}
#mainSlider1 .main_inner .youtube{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#mainSlider1 .main_inner .youtube li{
    position: relative;
}
#mainSlider1 .main_inner .youtube li .txt2{
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 100%;
}
#mainSlider1 .main_inner .youtube>li .mask{
    width: 350px;
    height: 196px;
    position: relative;
    overflow: hidden;
}
#mainSlider1 .main_inner .youtube>li .mask::before{
    content:'';
    width: 100%;
    height: 100%;
    border: 0px solid #fff;
    position: absolute;
    top: 0; left: 0;
    box-sizing: border-box;
    z-index: 5;
}
#mainSlider1 .main_inner .youtube>li .mask:hover::before{
    border-width:6px;
}
#mainSlider1 .main_inner .youtube>li .mask:hover img{
    transform: scale(1.1);
    transition: all 0.2s ease;
}
#mainSlider1 .main_inner .txt3{
    color: #fff;
    width: 100%;
    line-height: 24px;
    margin: 80px 0 30px 0;
}
#mainSlider1 .main_inner .btn_link{
    width: fit-content;
    display: inline-block;
    padding: 15px 28px;
    border: 2px solid #fff;
    color: #fff;
    margin-bottom: 70px;
    background: rgba(0,0,0,0.2);
}
#mainSlider1 .main_inner .channel{
    width: 1111px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 78px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}
#mainSlider1 .main_inner .channel>.ch_txt{
    display: flex;
    font-size: 18px;
    color: #fff;
    line-height: 29px;
}
#mainSlider1 .main_inner .channel>.ch_txt>li:first-child{
    padding-right: 30px;
}
#mainSlider1 .main_inner .channel .ch_inner{
    display: flex;
    justify-content: space-between;
    
}
#mainSlider1 .main_inner .channel .ch_inner li a{
    width: 240px;
    display: flex;    
}
#mainSlider1 .main_inner .channel .ch_inner li a>img{
    height: 39px;
    padding-right: 10px;
}
#mainSlider1 .main_inner .channel .ch_inner li a>span{
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 39px;
}
/* 2페이지 */
#mainSlider2{
    width: 100%;
    height: 920px;
    background: url(../images/bg_main02_bak.jpg) no-repeat center;
    position: relative;
    left: 50%; top: 0;
    transform: translateX(-50%);
    overflow: hidden;
}
#mainSlider2 .main_inner{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
#mainSlider2 .box1{
    height: 800px;
}
#mainSlider2 .box1 p{
    color: #fff;
    font-size: 18px;
    margin-top: 45px;
    position: relative;
}
#mainSlider2 .box1 p::before{
    content:'';
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -280px;
    width: 300px;
    height: 5px;
    background: #505e71;
}
#mainSlider2 .box2{
    height: 800px;
}
#mainSlider2 .box2 .secNews{
    width: 625px;
}
#mainSlider2 .box2 .secNews>li{
    width: 100%;
    height: 220px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff9e;
}
#mainSlider2 .box2 .secNews>li>a{
    color: #fff;
}
#mainSlider2 .box2 .secNews>li .newTit{
    display:flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 55px;
    margin-bottom: 30px;
}

#mainSlider2 .box2 .secNews>li>a h3{
    font-size: 30px;
    font-weight: 600;
    width: 490px;
    line-height: 40px;
}
#mainSlider2 .box2 .secNews>li .newTit span{
    font-size: 18px;
}
#mainSlider2 .box2 .secNews li:first-child a .firstP{
    margin-bottom: 28px;
}
#mainSlider2 .box2 .secNews>li>a p{
    width: 490px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    line-height: 25px;
    font-weight: lighter;
}
#mainSlider2 .box2 .plus{
    display: block;
    position: absolute;
    bottom: 50%; right: 50%;
    transform: translate(-50%, -50%);
    margin: 0 -370px -380px 0;
}
#mainSlider2 .box2 .plus a{
    display:block;
    color: #fff;
    width: 70px; 
    line-height: 35px;
    padding-left: 20px;
    border: 1px solid #fff;
    font-size: 14px;
    background: url(../images/ico_plus.gif) no-repeat 70px center;
}
#mainSlider2 .box3 .sliderBtn li{
    padding: 20px 0 20px 20px;
    
}
#mainSlider2 .box3 .sliderBtn li:first-child{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
/* -----3페이지------ */
#mainSlider3{
    background: #f5f5f5;
    position: relative;
    left: 50%; top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 920px;
    box-sizing: border-box;
    overflow: hidden;
}
#mainSlider3 .main_inner{
    width: 1200px;
    height: 810px;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-between;
}
#mainSlider3 .main_inner .left{
    width: 220px;
}
#mainSlider3 .main_inner .left>p{
    padding: 40px 0;
    text-align: right;
    color: #002b5c;
    position: relative;
}
#mainSlider3 .main_inner .left>p::before{
    content:'';
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -280px;
    width: 500px;
    height: 5px;
    background: #002b5c;
}
#mainSlider3 .main_inner .left .sliderBtn li{
    padding: 20px 0;
    width: 160px;
}
#mainSlider3 .main_inner .left .sliderBtn li:first-child{
    border-bottom: 1px solid #002b5c9e;
}
#mainSlider3 .main_inner .right{
    display: flex;
    justify-content: space-between;
    width: 773px;
    height: 810px;
}
#mainSlider3 .right ul{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#mainSlider3 .right ul li{
    position: relative;
}
#mainSlider3 .right ul li a{
    display:block;
    padding: 35px 30px;
    box-sizing: border-box;
}
#mainSlider3 .right .one li:first-child a{
    width: 244px; height: 421px;
    background: url(../images/bg_pr_main01.jpg) no-repeat left top;
}
#mainSlider3 .right .one li:last-child a{
    width: 244px; height: 368px;
    background: url(../images/bg_pr_main04.jpg) no-repeat left top;
}
#mainSlider3 .right .two li:first-child a{
    width: 244px; height: 362px;
    background: url(../images/bg_pr_main02.jpg) no-repeat left top;
}
#mainSlider3 .right .two li:last-child a{
    width: 244px; height: 425px;
    background: url(../images/bg_pr_main05.jpg) no-repeat left top;
}
#mainSlider3 .right .three li:first-child a{
    width: 244px; height: 483px;
    background: url(../images/bg_pr_main03.jpg) no-repeat left top;
}
#mainSlider3 .right .three li:last-child a{
    width: 244px; height: 306px;
    background: url(../images/bg_pr_main06.jpg) no-repeat left top;
}
#mainSlider3 .main_inner .right ul li.on a{
    background-position: right;
}
#mainSlider3 .main_inner .right ul li a h3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 19px;
}
#mainSlider3 .main_inner .right ul li a p{
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    line-height: 26px;
    display: none;
}
#mainSlider3 .main_inner .right ul li.on p{
    display:block;
}
#mainSlider3 .main_inner .right ul li a div{
    width: 30px; height: 30px;
    background: url(../images/btn_reading-glasses.png) no-repeat;
    position: absolute;
    bottom: 40px; left: 50%;
    transform: translateX(-50%);
    display: none;
}
#mainSlider3 .main_inner .right ul li.on div{
    display: block;
}

/* 여기서부터 footer영역 */
footer{
    width: 100%;
    height: 90px;
    background: #e1e1e1;
}
footer .footer_inner{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    padding-top: 25px;
    box-sizing: border-box;
}
/* left */
footer .footer_inner .left{
    float: left;
}
footer .footer_inner .left .footer_menu{
    /* border: 1px solid blue; */
    overflow: hidden;
}

footer .footer_inner .left .footer_menu li{
    float: left;
    /* 메뉴들 사이에 중앙 경계선 넣을때 패딩으로 너비지정 */
    padding: 0 15px;
    position: relative;
}
footer .footer_inner .left .footer_menu li::before{
    content:"";
    height: 11px;
    width: 1px;
    background: #8e8e8e;
    position: absolute;
    left: 0; top: 50%;
    margin-top: -5.5px;
}
footer .footer_inner .left .footer_menu .mark::before{
    display: none;
}
footer .footer_inner .left .footer_menu .first::before{
    display: none;
}
footer .footer_inner .left .footer_menu .first{
    padding-left: 0;
}
footer .footer_inner .left .footer_menu .li3 a{
    color: #3c647e;
    font-weight: bold;
}
footer .footer_inner .left .footer_menu li a{
    color:#1f1d1e;
    font-size: 13px;
}
footer .footer_inner .left .footer_menu li a img{
    width: 52px;
}
footer .footer_inner .left address{
    font-size: 13px;
    color: #555;
    font-style: normal;
}
/* right */
footer .footer_inner .right{
    float: right;
}
footer .footer_inner .right .work{
    float: left;
    position: relative;
}
footer .footer_inner .right .worklist, .company .companylist{
    position: absolute;
    width: 330px;
    height: 245px;
    background: #222;
    bottom: 60px;
    right:0;
    display: none;
}
footer .footer_inner .right .worklist h2,
.company .companylist h2{
    border-bottom: 1px solid #4b4b4b;
    color: #fff;
    padding: 19px 21px 17px 20px;
    position: relative;
}
footer .footer_inner .right .worklist h2 .work_close, .company .companylist h2>.com_close{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    font-size: 0;
    cursor: pointer;
}

footer .footer_inner .right .worklist h2 .work_close::before, .right .companylist h2 .com_close::before{
    content: "";
    position: absolute;
    right: 21px; top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background: #ddd;   
}
footer .footer_inner .right .worklist .li_inner, .right .company .companylist>.li_inner2{
    width: 100%;
    padding: 14px 20px;
}
footer .footer_inner .right .worklist .li_inner>li, .right .company .companylist .li_inner2>li{
    width: 50%;
    float:left;
}
footer .footer_inner .right .worklist .li_inner>li>a, .company .companylist>.li_inner2>li>a{
    color: #aaa;
    font-size: 13px;
    line-height: 25px;
}
footer .footer_inner .right .worklist .li_inner>li>a:hover{
    color: #fff;
    text-decoration: underline;
}
footer .footer_inner .right>div>button{
    width: 90px;
    height: 34px;
    border:none;
    background: none;
    border-bottom: 1px solid #222;
    text-align: left;
    text-indent: -8px;
    letter-spacing: -1px;
    font-size: 13px;
    background: url(../images/ico_plus.png) no-repeat right center;
    cursor: pointer;
}
footer .footer_inner .right .work .btn_work.on, footer .footer_inner .right .company .btn_com.on{
    background: url(../images/ico_mius.png) no-repeat right center;
}
footer .footer_inner .right .company{
    float: left;
    margin-left: 25px;
    position: relative;
}
footer .footer_inner .right .company .companylist{
    position: absolute;
    width: 330px;
    height: 245px;
    background: #3c3c3c;
}
